/* reset */

article,
aside,
blockquote,
body,
button,
code,
dd,
dialog,
div,
dl,
dt,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
input,
legend,
li,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

li,
ol,
ul {
	list-style: none;
}

em,
i {
	font-style: normal;
}

del {
	text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 500;
}

img {
	border: 0;
	max-width: 100%;
}

img,
input {
	/*margin-left: 54px;*/
	vertical-align: middle;
}

a:focus,
input:focus {
	outline: none;
}

a {
	color: #333333;
	text-decoration: none;
}

a:active {
	opacity: 0.7;
}

 /**{outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-box-sizing:border-box;}*/
html {
	-webkit-text-size-adjust: none;
	overflow-y: scroll;
}

html, body {
	font-family:"Microsoft Yahei UI", "Microsoft Yahei", "微软雅黑", "Segoe UI", Tahoma, SimSun, sans-serif;

}
